#messages,#channelList,#inbox {
  overflow: auto ;
  color: #ff9056;
}
#channelList li:hover,#inbox li:hover,kbd:hover, .text-danger:hover {
  cursor: pointer;
}
.navbar-custom {
    background-color: #00ff00;
}
li {
  list-style-type: none;
}